SECRET_KEY=your-django-secret-key-here
DEBUG=True

POSTGRES_DB=your_db_name_here
POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_db_password_here
DB_HOST=db
DB_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

STRIPE_WEBHOOK_SECRET=whsec_fwV2mBwuKaMka8Dv1w5En7t0SFzk9UsK

EMAIL_HOST=
EMAIL_PORT=2525
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=