__pycache__/
*.py[cod]
*$py.class
*.so

.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
.mypy_cache/
.ruff_cache/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

instance/
.webassets-cache
.scrapy
docs/_build/

.pybuilder/
target/

.ipynb_checkpoints

profile_default/
ipython_config.py

.pdm-python
.pdm-build/
.pixi
__pypackages__/

celerybeat-schedule
celerybeat.pid

*.rdb
*.aof
*.pid

mnesia/
rabbitmq/
rabbitmq-data/
activemq-data/

*.sage.py

.env
.env.*
!.env.example

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject
.ropeproject

/site

.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

.abstra/

.vscode/
.idea/

tempCodeRunnerFile.py

.pypirc

marimo/_static/
marimo/_lsp/
__marimo__/

.streamlit/secrets.toml

.DS_Store
Thumbs.db